.rooms {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background: #eff1f3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rooms .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background: white;
  border-radius: 10px;
  align-items: center;
}

.content {
  height: 100%;
  background: white;
  border-radius: 10px;
  padding: 20px;
}
