.dashboardMain {
  background-image: linear-gradient(rgb(198, 198, 255), rgb(148, 255, 148));
}

.dashboardMain {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 65%;
}

.tagDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.tagDetails .tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getDhashboardBtn {
  padding: 20px;
  border-radius: 10px;
  background: blue;
  color: white;
  text-decoration: none;
}
