.user {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}

.user .userDetails {
  width: fit-content;
  align-items: center;
  justify-content: center;
}
